*{
     margin:0; 
     box-sizing: border-box; 
} 

body{
    background-color:#222; 
    color:white;
    font-family: "Spinnaker", sans-serif;
     font-weight: 400;
      font-style: normal; 
     }

.menu{
    background-color: #21212b; 
    padding-bottom:25px; 

}
            
button{
    cursor: pointer; 
    }
    
a{
     color:white; 
     text-decoration: none; 
    } 
    
.menu ul{ 
    display:flex; 
    gap:50px; 
    list-style: none; 
    font-size: 22px; 
    display:flex; 
    justify-content: center; 
    align-items: center;
     padding-top: 25px; 
    } 
    
.menu li:hover{ 
    text-decoration: underline #47474d;
     cursor:pointer; 
    } 
.centrar{ 
    padding-top: 30px; 
    display:flex;
     justify-content: center;
      align-items: center;
     } 

.image{ 
    width: 39%;
}